@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,900&display=swap");
/* h1 {
  font-family: "Shadows Into Light", cursive;
} */
:root {
  --grey: #222;
  --dark: #191919;
  --light: #fff;
  --primary: #270847;
  --primary2: #11031f;
  --red: #cc0000;
  --green: limegreen;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--primary2);
  color: var(--light);
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--light);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.preload * {
  transition: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

.main_container {
  padding: 1% 10%;
  max-width: 1200px;
  margin: auto;
  height: 100vh;
  max-height: 1080px;
  position: relative;
  overflow: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin: auto;
}

.navbar-list > li > a:hover {
  color: var(--green);
  transition: 0.3s ease;
}

.nav_mobile {
  display: none;
}

.fa-bars {
  font-size: 32px;
  color: var(--green);
  display: none;
}

.logo {
  height: 80px;
}

.logo > a > img {
  width: 80px;
}

.btn {
  border: 1px solid var(--light);
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--light);
}

.btn:hover {
  background: var(--green);
  border: 1px solid var(--green);
  color: var(--light);
  transition: 0.3s ease;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rise-fadein {
  0% {
    top: -150%;
    opacity: 0;
  }
  100% {
    top: 10%;
    opacity: 1;
  }
}

@keyframes slide {
  0% {
    right: -50%;
  }
  100% {
    right: 50%;
    transform: translate(50%, 0%);
  }
}

.castle {
  position: absolute;
  bottom: -10%;
  width: 100%;
  max-width: 1600px;
  z-index: -1;
  opacity: 0;
  animation: fadein 4s 1 forwards;
}

.moon {
  position: absolute;
  bottom: 150%;
  animation: rise-fadein 2s 1 forwards;
  width: 100%;
  max-width: 1600px;
  z-index: -2;
  animation-delay: 1s;
}

#car {
  width: 450px;
  position: absolute;
  bottom: 0;
  right: -50%;
  animation: slide 5s 1 forwards;
  animation-delay: 4s;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes move {
  0% {
    -webkit-transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-2px);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}

#front-wheel {
  position: absolute;
  bottom: 15%;
  left: 24%;
  max-width: 15%;
  animation: spin 0.5s infinite linear;
}

#rear-wheel {
  position: absolute;
  bottom: 15%;
  right: 16%;
  max-width: 17%;
  animation: spin 0.5s infinite linear;
}

.heading {
  text-align: center;
  width: 100%;
  letter-spacing: 2px;
  z-index: -2;
  opacity: 0;
  animation: fadein 3s 1 forwards;
  animation-delay: 3s;
  margin-top: 25px;
}

.heading > h1 {
  font-size: 950%;
  max-width: 1030px;
  margin: 0;
  color: var(--light);
  font-weight: 900;
  font-style: italic;
  text-shadow: -2px -5px 0 var(--primary), 5px -5px 0 var(--primary),
    -5px 5px 0 var(--primary), 5px 5px 0 var(--primary);
}

.heading > p {
  font-family: "Poppins", sans-serif;
  max-width: 650px;
  margin: auto;
}

.filled {
  border: 1px solid var(--green);
  background: var(--green);
  color: var(--light);
}

.filled:hover {
  opacity: 0.8;
  transition: 0.3s ease;
}

.btn.filled.mobile {
  display: none;
  max-width: 150px;
  margin: auto;
}

.down {
  background-color: var(--primary);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: var(--light);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  opacity: 0.7;
  animation: move 1s infinite ease;
}

#about,
#roadmap,
#tokenomics,
#utilities,
#team {
  margin: 10% 0;
  text-align: center;
}

#about > h1,
#roadmap > h1,
#tokenomics > h1,
#utilities > h1,
#faq_section > h1,
#team > h1 {
  color: var(--light);
  font-size: 500%;
  font-family: "Shadows Into Light", cursive;
  letter-spacing: 5px;
  color: var(--green);
  text-align: center;
}

.about_section {
  background-color: var(--primary2);
  padding: 5% 10%;
  max-width: 1200px;
  margin: auto;
}

.about_container,
.utilities_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about_container {
  border-radius: 10px;
  background: var(--primary);
  box-shadow: var(--red) 0px 1px 29px 0px;
}

.about_content > h2 {
  color: var(--green);
  font-size: 350%;
  font-family: "Shadows Into Light", cursive;
  margin: 0;
  text-align: center;
}

.about_content {
  max-width: 550px;
  font-size: larger;
  border-radius: 10px;
  margin: auto;
  text-align: center;
  color: var(--light);
}

.about_image > img {
  max-width: 500px;
  height: 500px;
  transform: scaleX(-1);
  border-radius: 10px;
  vertical-align: middle;
}

.tokenomics_section {
  padding: 1% 10%;
  max-width: 1200px;
  margin: auto;
}

#tokenomics {
  text-align: center;
}

#tax {
  max-width: 400px;
  max-height: 400px;
  margin: auto;
}

.tokenomics_container {
  display: flex;
  text-align: left;
}

.tokenomics_content {
  max-width: 500px;
  margin: auto;
}

.utilities_section,
.roadmap_section {
  background-color: var(--primary);
  padding: 1% 10%;
  max-width: 1200px;
  margin: auto;
}

.utilities_container {
  flex-direction: column;
}

.nft {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nft > div > img {
  width: 95%;
  margin: 20px auto;
  border-radius: 10px;
  transition: 0.3s ease;
}

.nft > div > img:hover {
  transform: scale(1.1);
}

.nft > div > p {
  text-align: center;
  margin-top: 0;
  font-weight: 500;
}

#raffle {
  width: 70%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  background-color: var(--red);
  border-radius: 4px;
  transition: 0.3s ease;
  margin: 5% 0 0;
  max-width: 790px;

  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.card:hover {
  box-shadow: var(--green) 0px 10px 29px 0px;
}

.content {
  padding: 10%;
  margin: auto;
  text-align: left;
}

.card > img {
  width: 150%;
  margin: auto;
  overflow-x: hidden;
}

.no-hover:hover {
  box-shadow: none;
}

.team_section {
  padding: 5% 10%;
  max-width: 1200px;
  margin: auto;
  text-align: center;
  background: #270847;
}

.all_team {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 5%;
}

.all_team > div > p {
  font-weight: 500;
}

#team > div > img {
  border-radius: 50%;
}

.faq > h2 {
  text-align: center;
}

details {
  padding: 1% 0;
}

#roadmap {
  padding: 0 12%;
}

#roadmap > div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.phase {
  margin-bottom: 5%;
}

.phase_content {
  text-align: left;
  padding: 5% 30px;
  border-radius: 4px;
  width: 320px;
  height: 350px;
  line-height: 30px;
}

.blank {
  width: 100%;
}

li > i {
  margin-right: 10px;
}

.undone {
  color: #e5ff00;
  opacity: 0.2;
}

.footer {
  padding: 2% 10%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright > p {
  margin-left: 30px;
}

.social_list {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.social_list > li > a {
  transition: 0.3s ease;
}
.social_list > li > a:hover {
  color: var(--green);
}

.middle_social {
  margin: 0 30px;
}

.joker_main {
  max-width: 33%;
}

p > span {
  font-size: 18px;
  font-weight: 500;
  color: var(--green);
}

h2 > span {
  color: var(--green);
}

.black {
  color: #191919;
}
.white {
  color: #fff;
}

#faq_section {
  padding: 5% 10% 15%;
  max-width: 1200px;
  margin: auto;
}

.content_faq {
  border-radius: 4px;
}

/*Question*/
.question {
  position: relative;
  background: #270847;
  border-radius: 10px;
  margin: 0;
  padding: 15px 10px 15px 50px;
  display: block;
  cursor: pointer;
}
/*Answer*/
.answers {
  padding: 0px 15px;
  margin: 5px 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  position: relative;
  opacity: 0;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.questions:checked ~ .answers {
  height: auto;
  opacity: 1;
  padding: 15px;
}

/*FAQ Toggle*/
.plus {
  position: absolute;
  margin-top: 12px;
  margin-left: 10px;
  z-index: 5;
  font-size: 2em;
  line-height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.questions:checked ~ .plus {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.questions {
  display: none;
}

.desk_display {
  display: block;
}

@keyframes slide-mobile {
  0% {
    transform: translate(150%, 0%);
  }
  100% {
    /* right: 50%; */
    transform: translate(50%, 0%);
  }
}

@keyframes rise-fadein-mobile {
  0% {
    top: -20%;
    opacity: 0;
  }
  100% {
    top: 18%;
    opacity: 1;
  }
}

.fa-solid.fa-bars {
  display: none;
}

.display {
  display: block;
}

@media screen and (max-width: 1000px) {
  .main_container {
    height: 90vh;
  }
  .logo,
  .logo > a > img {
    width: 60px;
    height: 60px;
  }
  .btn.filled {
    display: none;
  }
  .btn.filled.mobile {
    display: block;
  }
  #raffle {
    width: 100%;
  }
  #car {
    animation: slide 4s 1 forwards;
    animation-delay: 2s;
    transform: translate(150%, 0%);
    bottom: 9%;
    width: 310px;
    z-index: 3;
  }
  .main_container {
    animation: fadein 2s 1 forwards;
  }
  .moon {
    z-index: -3;
    animation: rise-fadein-mobile 2s 1 forwards;
    animation-delay: 2s;
  }
  .castle {
    display: none;
  }
  .nft {
    flex-direction: column;
  }
  .nft > img {
    width: 100%;
  }
  .content {
    text-align: center;
  }
  .card,
  .card_hor {
    flex-direction: column;
  }
  .card > img {
    width: 100%;
  }
  #tokenomics > h1,
  #utilities > h1,
  #roadmap > h1,
  #team > h1,
  .about_content > h2 {
    font-size: 300%;
  }
  .about_content > h2 {
    padding-top: 20px;
  }
  #faq_section > h1 {
    font-size: 300%;
  }
  .joker_main {
    max-width: 100%;
  }
  p {
    opacity: 0.9;
    font-size: 14px;
    text-align: center;
  }
  #tax {
    margin: 10% 0 5%;
    max-width: 100%;
  }
  #roadmap {
    padding: 0;
  }
  .phase_content {
    width: 250px;
    height: 400px;
  }
  .phase2_1 {
    height: 300px;
  }
  .phase_fit {
    height: 450px;
  }
  .coming_soon {
    height: 120px;
  }
  main {
    flex-direction: column-reverse;
  }
  .about_content > h2,
  .tokenomics_content > h2 {
    text-align: center;
  }
  .about_content {
    padding: 5% 10%;
  }
  .main_container {
    padding: 5% 10%;
    background: url(./images/castle.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .navbar-list {
    display: none;
  }
  .car-container {
    margin-top: 25%;
  }
  .heading {
    z-index: 4;
  }
  .heading > h1 {
    margin-top: 60%;
    font-size: 300%;
  }
  .heading > p {
    line-height: 30px;
  }
  .down {
    margin: 10%;
  }
  .about_section {
    padding: 10%;
  }
  .about_image > img {
    width: 100%;
    height: 100%;
  }
  .about_container {
    flex-direction: column;
  }
  .tokenomics_container {
    flex-direction: column-reverse;
  }
  .bottom {
    border-bottom: 2px solid var(--primary);
  }
  .blank {
    display: none;
  }
  .footer {
    padding: 10% 0 0;
    flex-direction: column-reverse;
  }
  .social_list {
    margin: 5% 0;
  }
  .fa-solid.fa-bars {
    display: block;
  }
  .nav_mobile {
    position: absolute;
    top: 80px;
    background: #11031f;
    width: 100%;
    height: 45vh;
    z-index: 5;
  }
  .nav_mobile > ul {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    transform: translateY(10%);
  }
  .nav_mobile > ul > li {
    padding: 15px 0px;
  }
  .fas.fa-times {
    position: absolute;
    top: 4%;
    right: 10.5%;
    font-size: 32px;
  }
}

@media screen and (min-width: 667px) {
  .nav_mobile {
    height: 50vh;
  }
}
